@model BookInfo.Domain.Entities.Book
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Book</title>
</head>
<body>


@using (Html.BeginForm()) 
{
    <p>Book Title:    @Html.TextBoxFor(x => x.Title) </p>
        
    // We won't add the author info this time. We'll wait
    // until we learn how to use View Models

    <p>Date published: @Html.EditorFor(x => x.Year)  (MM/DD/YYYY)</p> 
    <input type="submit" value="Submit Book Info" />
}
</body>
    </html>