@model BookInfo.Domain.Entities.Book
@using BookInfo.Domain.Entities

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowBook</title>
</head>
<body>
    <div>
        Title: @Model.Title <br>
        Published: @Model.Year.Year <br>
        @foreach (Author a in Model.Authors) 
        {
            @:Author: @a.Name <br>
        }
    </div>
</body>
</html>
