<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<header>
    <h1>Amazing Book Information</h1>
</header>
    <div style="padding: 20px; border: solid medium black; font-size: 20pt">
        @RenderBody()
    </div>
<footer>
     &copy Brian Bird, 2014
</footer>
</body>
</html>
